body {
    background-color: #34454c;
    line-height: 1.3;
    font-family: -webkit-pictograph;
}

header {
    display: flex;
    justify-content: center;
    height: 75px;
}

a#viewScore {
    font-size: 125%;
    color: white;
    text-decoration: none;
    font-style: italic;
    margin: 20px;
    position: absolute;
    left: 20px;
}

div#timer {
    margin: 20px;
    color: orangered;
    font-size: 150%;
}

main {    
    padding: 10px;
    display: flex;
    justify-content: center;
}

.hide {
    display: 'none';
}

img {
    display: flex;
    margin: 0, auto;
    max-width: 90%;
    max-height: 20rem;
    padding: 20px 0px;
}

.mainBox {
    width: 60%;
    min-height: 400px;
    margin-bottom: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    border: 8px solid lightblue;
    border-radius: 25px;
    box-shadow: 10px 5px 5px black;
}

#quizBox {
    padding: 25px;
}

div#imgSpot {
    text-align: -webkit-center;
}

div#r-or-w-box {
    position: relative;
    margin: 30px;
}

p#rightOrWrong {
    font-size: 200%;
    text-align: center;
    font-style: italic;
    position: absolute;
    left: 15rem;
    line-height: 0;
    margin: 0 auto;
    padding: 0;
}

h1 {
    font-weight: bold;
    font-size: 300%;
    padding: 50px;
    font-style: italic;
    text-align: center;
    font-variant: petite-caps;
}

h3 {
    margin-top: 10px;
    font-size: 305%;
    font-style: italic;
    text-align: center;
}

h3#allDoneH {
    margin-top: 40px;
    font-size: 300%;
    justify-content: center;
}


.mainBox p {
    font-size: 150%;
    margin: 50px auto;
    text-align: center;
    line-height: 2;
    padding: 10px;
}

p#results {
    font-size: 250%;
}

.btn {
    margin: 50px auto;
    font-size: 200%;
    background-color: lightblue;
    border-radius: 10px;
    box-shadow: 3px 2px 5px black;
}

button.li {
    padding: 5px;
    font-size: 150%;
    background-color: lightblue;
    border-radius: 5px;
    margin: 20px;
    box-shadow: 3px 2px 5px black;
    font-weight: bold;
}

ul#questOpts {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto;
}

h3#highScoreT {
    margin: 20px;
}

input#submitBtn {
    padding: 5px;
    font-size: 100%;
    background-color: lightblue;
    border-radius: 5px;
    margin: 20px;
    box-shadow: 3px 2px 5px black;
}

form#initForm {
    padding: 20px;
    text-align: center;
}

section#highScoreBox {
    padding: 20px;
}

ul#highScoreL {
    font-size: 125%;
    text-align: -webkit-center;
    border: 2px dotted black;
    border-radius: 5px;
    width: 50%;
    align-self: center;
    box-shadow: 10px 5px 5px black;
}

button#goBack {
    margin-bottom: 0px;
}

li.li {
    margin: 10px auto;
}

.btn:hover {
    opacity: .5;
}

.btn:active {
    transform: scale(.95);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

input#submitBtn:hover {
    opacity: .5;
}

input#submitBtn:active {
    transform: scale(.95);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

button.li:hover {
    opacity: .5;
}

button.li:active {
    transform: scale(.95);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}